@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.container {
  max-width: 1324px !important;
}

#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #BB2339;
  opacity: 0;
  transition: 0.5s;
}

#backtop img {
  width: 30px;
  height: 30px;
}

@font-face {
  font-family: CeraRoundPro;
  src: url("../../fonts/Fontspring-DEMO-ceraroundpro-regular.otf");
}
.navbar {
  padding: 26px 0;
  transition: 0.5s;
}

.navbar-shrink {
  padding: 20px 0 !important;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.5);
}

.bg-body-tertiary,
.offcanvas {
  background-color: #BB2339 !important;
}

.offcanvas.show .navbar-nav {
  align-items: start !important;
}
.offcanvas.show .navbar-nav .nav-link {
  margin: 20px 0;
  font-size: 30px;
}

.navbar-expand-lg .offcanvas .offcanvas-body {
  height: 48px;
}

.navbar-expand-lg .navbar-nav {
  margin: 0 !important;
  height: 48px;
}

.navbar-nav .nav-link {
  color: #fff;
  padding: 0 20px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
.navbar-nav .border-white {
  padding: 10px 40px !important;
  border: 1px solid white;
  border-radius: 100px;
}
.navbar-nav .nav-link.active {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.navbar-toggler {
  border-color: #fff;
  margin-left: auto;
}

.footer {
  padding-top: 342px;
  background-color: #ffffff;
}
.footer__bottom {
  position: relative;
  background-color: #BB2339;
  padding-bottom: 40px;
}
.footer__form {
  position: absolute;
  top: -170px;
  left: 0;
  font-family: CeraRoundPro;
  color: #fff;
  text-align: center;
  padding: 30px;
  width: 100%;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  background-color: #BB2339;
}
.footer__form h5 {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.footer__form h1 {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
.footer__form h6 {
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
}
.footer__form .form-div {
  justify-content: space-between;
  z-index: 2;
}
.footer__form .form-div input {
  max-width: 78%;
  color: #fff;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  background-color: transparent;
}
.footer__form .form-div input::placeholder {
  color: rgba(245, 239, 219, 0.5);
}
.footer__form .form-div a {
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.footer-nav {
  padding-top: 317px;
  padding-bottom: 82px;
  font-family: CeraRoundPro;
  color: #fff;
}
.footer-nav-left, .footer-nav-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-nav-left h3, .footer-nav-right h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  margin-bottom: 24px;
}
.footer-nav-left p, .footer-nav-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
}
.footer-nav-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-nav-middle p {
  margin: 32px 0 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
}
.footer-nav-middle-icons {
  gap: 15px;
}

@media (min-width: 992px) {
  .footer__form {
    padding: 64px 277px;
  }
}
.home {
  background-color: #BB2339;
}
.home__suptitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  margin-bottom: 25px;
}
.home__title {
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home__text {
  max-width: 453px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 56px;
}
.home__btn {
  border-radius: 100px;
  padding: 8 px 32px;
  margin-bottom: 50px;
}

.home * {
  color: #fff;
  font-family: CeraRoundPro, sans-serif;
}

.popular {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.popular .container {
  position: relative;
}
.popular .owl-carousel .owl-nav button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #646464;
  border-radius: 6px;
}
.popular .owl-carousel .owl-nav button span {
  position: absolute;
  top: -20px;
  font-size: 45px;
  display: inline-block;
  left: 12.5px;
}
.popular__title {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
  margin-bottom: 40px;
}
.popular .card {
  padding: 20px 20px 40px 20px;
  border-radius: 14px;
}
.popular .card__text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
  margin: 10px 0 20px;
}
.popular .card__text img {
  width: auto;
  margin-bottom: 20px;
}
.popular .card__text h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #BB2339;
}

.regular {
  padding: 50px 0;
}
.regular .container-fluid {
  padding: 0;
}
.regular .row {
  margin-top: 40px;
}
.regular .card {
  padding: 20px 20px 40px 20px;
  border-radius: 14px;
}
.regular .card__text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #242424;
  margin: 10px 0 20px;
}
.regular .card__text img {
  width: auto;
  margin-bottom: 20px;
}
.regular .card__text h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #BB2339;
}
.regular__title {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
  margin-bottom: 30px;
}
.regular #metro-tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.regular #metro-tab a {
  padding: 0 !important;
}
.regular #metro-tab li {
  margin: 10px 0;
  border: 1px solid #BB2339;
  border-radius: 100px;
  padding: 10px 30px !important;
}
.regular .tabs-expand:not(.vertical):not(.bottom) ul.tabs-pills > li.active {
  background-color: #BB2339;
  border-color: #BB2339;
  color: #fff;
  border-radius: 100px;
}

.testimony {
  text-align: center;
  padding: 50px 0;
  background: #f4f4f4;
}
.testimony__suptitle {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.testimony img {
  margin: 0;
}
.testimony__title {
  margin-top: 8px;
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 60px;
}
.testimony .owl-carousel .owl-nav button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #646464;
  border-radius: 6px;
}
.testimony .owl-carousel .owl-nav button span {
  position: absolute;
  top: -20px;
  font-size: 45px;
  display: inline-block;
  left: 12.5px;
}
.testimony .card {
  font-family: "Inter", sans-serif !important;
  width: 100%;
  margin: 0 !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  padding: 30px 40px 20px 20px;
  margin-bottom: 50px !important;
}
.testimony .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
}
.testimony .card-body {
  padding: 0 !important;
}
.testimony .card-text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  opacity: 0.7;
}
.testimony .card img {
  width: 215px;
}

.updates {
  text-align: center;
  padding: 50px 0;
}
.updates__suptitle {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
}
.updates img {
  margin: 0;
}
.updates__title {
  margin-top: 8px;
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
  margin-bottom: 60px;
}
.updates .btn {
  margin-top: 50px;
  padding: 8px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: 1px solid #bb2339;
  border-radius: 100px;
  color: #242424;
}
.updates .col-12 {
  padding: 0 17px;
}
.updates .card {
  width: 100% !important;
  font-family: CeraRoundPro;
  text-align: left;
  border-radius: 14px;
}
.updates .card-body {
  padding: 20px;
}
.updates .card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
.updates .card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
  margin-top: 10px;
}
.updates .card-bottom {
  margin-top: 20px;
}
.updates .card-bottom a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #BB2339;
}
.updates .card-bottom span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  opacity: 0.5;
}

.video {
  margin-bottom: 50px;
}
.video .container-fluid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 763px;
}
.video .modal-body #video {
  width: 100%;
}
.video #modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery {
  padding: 50px 0;
  background-color: #f4f4f4;
}
.gallery .container {
  overflow: hidden;
  align-items: center;
}
.gallery__left {
  margin-bottom: 50px;
}
.gallery__suptitle {
  font-family: CeraRoundPro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 8px;
}
.gallery__title {
  font-family: CeraRoundPro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 24px;
}
.gallery__text {
  max-width: 491px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #aaaaaa;
  margin-bottom: 30px;
}
.gallery__btn {
  font-family: CeraRoundPro, sans-serif;
  padding: 8px 32px;
  color: #242424;
  border: 1px solid #BB2339;
  border-radius: 100px;
}
.gallery .owl-carousel .item {
  width: 301px;
  height: 447px;
  border-radius: 14px;
}
.gallery .owl-carousel .item .background {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.gallery .owl-carousel .item .insta-layer {
  display: none;
  transition: 0.5s;
}
.gallery .owl-carousel .item-owl {
  transition: 0.5s;
}
.gallery .owl-carousel .item-owl:hover .insta-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

@media (max-width: 992px) {
  .gallery__left {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .home {
    padding: 83px 0 237px;
  }
  .home__suptitle {
    font-size: 23px;
    line-height: 130%;
  }
  .home__title {
    font-size: 90px;
    line-height: 130%;
  }
  .home__text {
    font-size: 16px;
    line-height: 175%;
  }
  .home__btn {
    border-radius: 100px;
    padding: 8 px 32px;
  }
  .home__left {
    width: 50%;
    padding-right: 80px;
  }
  .home__right {
    width: 50%;
    margin-left: auto !important;
  }
  .home__right img {
    height: 100%;
  }
  .popular, .regular, .testimony, .updates, .video {
    padding: 120px 0;
  }
  .gallery {
    padding: 120px 0;
  }
  .gallery .container {
    margin-left: auto !important;
    margin-right: 0;
    width: auto !important;
    flex-wrap: nowrap !important;
    overflow: hidden;
  }
  .gallery .owl-carousel {
    width: 1300px;
  }
  .gallery__left {
    min-width: 491px;
    margin-right: 64px;
  }
}
.menu {
  margin-top: 109px;
}
.menu .breadcrumb {
  margin-top: 70px;
  margin-bottom: 0;
}
.menu .breadcrumb ol li a {
  color: #b0b0b0;
}
.menu .breadcrumb ol li.active {
  color: #BB2339 !important;
}
.menu .breadcrumb-item + .breadcrumb-item::before {
  content: "|" !important;
}
.menu .regular {
  padding: 0;
}
.menu .regular .container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.menu .regular .container {
  padding: 0 !important;
}
.menu .container-fluid {
  padding: 0 !important;
}
.menu .regular__title {
  color: #fff;
}
.menu .tab-list {
  max-width: 428px;
  padding: 50px 40px !important;
  background-color: #BB2339;
  height: 844px;
  border-radius: 20px;
  margin-top: 55px;
}
.menu .tab-list #metro-tab {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #BB2339;
  border: none;
}
.menu .tab-list #metro-tab li {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.menu .tab-list #metro-tab .active {
  background-color: #fff;
  color: #242424;
}
.menu .no-border-top {
  width: 66.66%;
}

@media (max-width: 770px) {
  .menu .regular .container {
    flex-direction: column;
    align-items: center;
  }
  .menu .regular .container .no-border-top {
    width: 100%;
  }
}
#breadcrumb {
  margin-top: 70px;
  margin-bottom: 0;
}
#breadcrumb ol li a {
  color: #b0b0b0;
}
#breadcrumb ol li.active {
  color: #BB2339 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|" !important;
}

.contact {
  padding: 50px 0;
}
.contact #breadcrumb {
  margin-top: 152px;
  margin-bottom: 0;
}
.contact #breadcrumb ol li a {
  color: #b0b0b0;
}
.contact #breadcrumb ol li.active {
  color: #BB2339 !important;
}
.contact .breadcrumb-item + .breadcrumb-item::before {
  content: "|" !important;
}
.contact__card {
  display: grid;
  grid-template-columns: auto 1fr;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  align-items: center;
  padding: 25px 20px;
  width: 100%;
  height: 110px;
}
.contact__card .img-box {
  width: 60px;
  height: 60px;
  background: rgba(36, 36, 36, 0.05);
  border-radius: 50%;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__card h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #242424;
}
.contact__card h3 span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  opacity: 0.7;
}
.contact form {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
.contact form h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 34px;
  color: #242424;
  margin-bottom: 16px;
}
.contact form p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  opacity: 0.7;
  margin-bottom: 40px;
}
.contact form .row {
  margin-bottom: 15px;
}
.contact form input {
  background: #ffffff;
  padding: 20px !important;
  border: 1px solid rgba(51, 34, 68, 0.1) !important;
  border-radius: 12px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  opacity: 0.6;
}
.contact form textarea {
  height: 150px !important;
  background: #ffffff;
  padding: 20px !important;
  border: 1px solid rgba(51, 34, 68, 0.1) !important;
  border-radius: 12px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  opacity: 0.6;
}
.contact form .form-floating {
  margin-bottom: 25px;
}
.contact form .btn {
  padding: 18px 45px;
  background-color: #BB2339;
  border-radius: 39px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.contact__map__title {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #000000;
  margin-top: 50px !important;
  margin-bottom: 40px;
}
.contact__map iframe {
  width: 100%;
  border-radius: 14px;
}

@media (min-width: 992px) {
  .contact form {
    padding: 40px;
    padding-bottom: 40px;
  }
}
.about {
  margin-top: 109px;
  padding: 50px 0;
}
.about__title {
  font-family: CeraRoundPro;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 8px;
}
.about img {
  margin-bottom: 30px;
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #242424;
  opacity: 0.8;
  max-width: 720px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
