@use "../abstract/variables" as var;
@use "../abstract/mixins" as mixin;
.menu {
  margin-top: 109px;
  .breadcrumb {
    margin-top: 70px;
    margin-bottom: 0;
    ol {
      li {
        a {
          color: #b0b0b0;
        }
      }
      li.active {
        color: var.$primary-color !important;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "|" !important;
  }
  .regular {
    padding: 0;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }
    .container {
      padding: 0 !important;
    }
  }
  .container-fluid {
    padding: 0 !important;
  }
  .regular__title {
    color: var.$secondary-color;
  }
  .tab-list {
    max-width: 428px;
    @media (max-width:770px) {
      max-width: 100%;
    }
    padding: 50px 40px !important;
    background-color: var.$primary-color;
    max-height: 540px;
    border-radius: 20px;
    margin-top: 55px;
    #metro-tab {
      @include mixin.flex-box(start,start);
      flex-direction: row;
      gap: 10px;
      background-color: var.$primary-color;
      border: none;
      li {
        background-color: transparent;
        color: var.$secondary-color;
        border-color: var.$secondary-color;
      }
      .active {
        background-color: var.$secondary-color;
        color: var.$text-color;
      }
    }
  }
  .no-border-top {
    width: 66.66%;
  }
}

@media (max-width: 770px) {
  .menu {
    .regular {
      .container {
        flex-direction: column;
        align-items: center;
        .no-border-top {
          width: 100%;
        }
      }
    }
  }
}
